

.background-reedem{
  height: 92vh;
  background-image: url(./images/bg-reedem.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    background-position: center;
}
.inputDireccion{
  background-color: #606060;
    color: white;
    border-radius: 20px;
}