

.background-reedem{
  height: 92vh;
  background-image: url(./images/bg-reedem.png);
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: cover;
    background-position: center;
}
.inputDireccion{
  background-color: #606060;
    color: white;
    border-radius: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
    grid-gap: 25px;
    justify-content: center;
}
.content-product{
  background-color: transparent;
    border-color: black;
    color: black;
}
.imagentest{
  width: 100%;
}